<!-- <div class="container">
  <div class="row">
    <router-outlet></router-outlet>

    <div class="col-xs-12">
      <h2>Mes appareils</h2>

      <p> Mis à jour : {{ lastUpdate | date: 'MMMM d EEEE y' | uppercase }}</p>

      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils" [appareilName]="appareil.name"
          [appareilStatus]="appareil.status">
        </app-appareil>
      </ul> -->
<!-- [] pour lier à une propriéte -->
<!-- () pour lier à un évènement du dom et on y met la méthode -->
<!-- [()] la liaison à double sens entre le ts en le template -->
<!-- <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumé

      </button>
    </div>
  </div>
</div> -->

<!-- <app-card>
  <app-card-title [title]="'Card title'"></app-card-title>
  <app-card-content [content]="'Card content'"></app-card-content>
  <app-card-footer [footer]="'Card footer'"></app-card-footer>
</app-card> -->

<!-- <ng-container *ngIf="talkObservable2$ | async as talk">
  <p> {{ talk }} </p>
</ng-container> -->
<!-- <ng-container *ngFor="let i of b$"> -->
<!-- <ng-container *ngIf="multiplication$ | async as multipl">
  <p> 2 * {{ i }} = {{ multipl }} </p>
</ng-container> -->
<!-- </ng-container> -->

<!-- <app-etudiant></app-etudiant> -->
<!-- <app-header></app-header>
<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="main-container">
  <header class="header header-6">Etudiants</header>
  <div class="content-container">
    <!-- <app-header></app-header> -->
    <clr-vertical-nav clrVerticalNavCollapsible="'demoCollapsible'">
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
        Etudiant
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="etudiant" routerLinkActive="active">
            Ajout Etudiant
          </a>
          <a clrVerticalNavLink routerLink="liste" routerLinkActive="active">
            Liste Etudiant
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="flame" clrVerticalNavIcon></cds-icon>
        Fire
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./fire/charmander" routerLinkActive="active">
            Charmander
          </a>
          <a clrVerticalNavLink routerLink="./fire/charizard" routerLinkActive="active">
            Charizard
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="bolt" clrVerticalNavIcon></cds-icon>
        Electric
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">
            Pikachu
          </a>
          <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">
            Raichu
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
        Credit
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
