<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLiinkActive = "active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive = "active"><a routerLink="etudiant">Etudiants</a></li>
    </ul>
  </div>
</nav> -->
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="auth">Authentification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="etudiant">Etudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript://">Tenants</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="auth/signin">Connexion</a>
    </li>
  </ul>
</nav>
